@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{padding:0;margin:0;}
body{box-sizing:border-box;font-family: 'Comfortaa', cursive;
}



/*---- Navigation ----*/
/*Navigation Logo*/
.App-logo{height: 90px;}
/*Animation Spin*/
@media (prefers-reduced-motion: no-preference) {
  .App-logo {animation: App-logo-spin infinite 25s linear;}
}
/*Creation of Animation Spin*/
@keyframes App-logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


/*---- Navigation ----*/
.relativesButton{
  transition: all .4s ease-in-out;
}
.relativesButton:hover{
transform: scale(1.2);
  background-color: indianred !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}