*{padding: 0;margin: 0;box-sizing: border-box}

body{
  background-color: #0D698B;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

}
section{
  font-size: 24px;
}
